html {
  font-size: 16px;
}

body {
  background-color: rgb(34, 40, 77);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  margin: 0.5rem;
  padding: 0;
  font-size: 1.3rem;
}

textarea {
  width: 70%;
  height: 30rem;
  resize: none;
  outline: none;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

button {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(221, 215, 178);
  color: #000;
}

button:active {
  background-color: rgb(221, 215, 178);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.alert {
  position: absolute;
  background-color: #e2e2e2;
  top: 5.7%;
  right: 1%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  transition: all;
}

.alert--success {
  display: none;
}

.alert--fail {
  display: none;
}

.alert--logo {
  padding: 0.3rem;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  opacity: 0.8;
}

.alert--logo__success {
  background-color: #24bf5f;
}

.alert--logo__fail {
  background-color: #f54f4e;
}

.alert--text__success {
  color: #168641;
}

.alert--text__fail {
  color: #e52221;
}

.alert--logo__close {
  cursor: pointer;
}
